# Игнорировать файлы .env и секретные данные
.env
*.key
secrets/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать временные файлы PyCharm
.idea/
*.iml

# Игнорировать виртуальное окружение
venv/
